:root {
    /* Fonts */
    --font-1:  'Roboto', sans-serif;/*Weight 400*/
    --font-2: 'Oswald', sans-serif; /*Weight 700*/

    /* Colors */
    --blackish: #202020; /*Fondo*/
    --dark-grey: #3F3F3F; /*Texto*/
    --medium-grey: #707070; /*Texto*/
    --egg-yellow: #FFDF6C; /*Resaltar*/
    --white: #FFFFFF; /*Fondo*/
}