:root {
    /* Fonts */
    --font-1:  'Roboto', sans-serif;/*Weight 400*/
    --font-2: 'Oswald', sans-serif; /*Weight 700*/

    /* Colors */

    /* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 WHITE
    https://coolors.co/palette/004b23-006400-007200-008000-38b000-70e000-9ef01a-ccff33 GREEN
    */
}